{% extends 'trasy/base.html' %}


{% block list %}
<div style="display: inline-block; width: 550px; vertical-align: top;">
    <img src="/mysite/media/background/bosnia.gif" alt="Bosnia GIF" style="display: inline-block; width: 500px;">
</div>  
<div style="display: inline-block; width: 700px;">
<img src="/mysite/media/background/eyesEmoji.png" style="display: inline-block; vertical-align: top; width: 200px;">
<img src="/mysite/media/background/eyesEmoji.png" style="display: inline-block; vertical-align: top;">
<img src="/mysite/media/background/eyesEmoji.png" style="display: inline-block; vertical-align: top;">
<img src="/mysite/media/background/eyesEmoji.png" style="display: inline-block; vertical-align: top;">
<img src="/mysite/media/background/eyesEmoji.png" style="display: inline-block; vertical-align: top;">
<img src="/mysite/media/background/eyesEmoji.png" style="display: inline-block; vertical-align: top;">
<img src="/mysite/media/background/eyesEmoji.png" style="display: inline-block; vertical-align: top;">
</div>
{% endblock %}